fastapi~=0.75.2
fastapi-utils~=0.2.1
pydantic~=1.9.0
uvicorn~=0.17.6
python-multipart~=0.0.5
pandas~=1.4.2
matplotlib~=3.5.1
requests~=2.27.1
httpx~=0.22.0
aiofiles~=0.8.0
sqlalchemy~=1.4.36
alembic~=1.7.7
